version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: unified_inbox_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Afnankhan123
      POSTGRES_DB: unified_inbox
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
